/* paragraph */

p {
padding-bottom: 3px;
padding-top: 3px;
color: #242424;
font-size: 21px;
font-weight: 300;
line-height: 35px;
font-family: "Georgia";
}

article{
margin-left: auto;
margin-right: auto;
width: 50em;
padding-bottom: 150px;
}

#myHeading {
font-size: 40px;
line-height: 36px;
font-weight: 400;
padding-bottom: 2px;
padding-top: 2px;
padding-left: 90px;
font-family: "Georgia";
color: #242424;
}

h2 {
font-size: 40px;
line-height: 48px;
font-weight: 400;
padding-bottom: 1px;
padding-top: 5px;
font-family: "Georgia";
color: #242424;
}

h3 {
font-size: 24px;
font-style: italic;
font-weight: 300;
padding-bottom: 3px;
padding-top: 0;
color: #8f8f8f;
}

/*navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  padding-left: 80px;
  font-family: "Georgia";
  color: #242424;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #242424;
  color: white;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* grid */
.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 75em;
  display: grid;
  height: 400px;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  padding-top: 80px;
  padding-bottom: 160px;

}

.grid-item {
  padding-left: 80px;
}

.grid-item:hover {
  background-color: #f2f2f2;
  padding-left: 80px;
}

a:link {
  color: black;
  font-style: bold;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}


form {
  font-size: 21px;
  font-family: "Georgia";
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: orange;
  border: none;
  color: white;
  font-size: 21px;
  font-family: "Georgia";
  padding: 16px 50px;
  text-decoration: none;
  margin: 10px 320px;
  cursor: pointer
}

input[placeholder] {
  font-family: "Georgia";
  font-size: 18px;
}

input[oninvalid] {
  font-size: 18px;
  font-family: "Georgia";
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
